<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1">     
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <title>Data Retention Manager - Login</title>  
    <link href="assets/styles.css" rel="stylesheet">       
</head>
<body>
    <div id="container">  
        <div class="vertical-centre">
            <div id="content">
                <h1 class="login-title">Data Retention Manager</h1>
                <p>for Salesforce Privacy Center</p>
                 <div class="login-wrapper">
                     <button class="login-button" onclick="login();">Log In with Salesforce</button>
                </div>
                <div class="disclaimer">
                    Data Retention Manager is free to use, but is not an official Salesforce product. It has not been officially tested or documented. Salesforce support is not available for Data Retention Manager. Provided as is without warranty of any kind.
                </div>
            </div>
        </div>    
    </div>            
    <script src="scripts/app.js"></script>
</body>
</html>